@media only screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    margin: 32px 28px 52px 28px;
  }

  /* Burger Menu */
  .burgerMenu {
    display: none;
  }

  .burgerMenu.active {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(212, 212, 212, 0.8);
    backdrop-filter: blur(40px);
    z-index: 9500;
    display: flex;
    flex-direction: column;
  }

  .burgerMenu ul {
    margin: 84px 0 -16px 50px;
    list-style: none;
  }

  .burgerMenu ul:nth-of-type(1) li {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .burgerMenu ul:nth-of-type(2) li {
    font-size: 14px;
    margin-bottom: 24px;
  }

  /* Navbar */

  .header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    list-style: none;
  }

  .header li:nth-of-type(2) {
    display: none;
  }

  .header li:nth-of-type(3) {
    z-index: 9900;
    padding: 12px;
    margin-top: -12px;
    margin-left: -12px;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    color: #515151;
    font-size: 10px;
    row-gap: 4px;
  }
}

@media only screen and (min-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    max-width: 1192px;
    margin: 32px clamp(64px, 8.6vw, 124px) 100px clamp(64px, 8.6vw, 124px);
  }

  /* Burger Menu */
  .burgerMenu {
    display: none;
  }

  /* Navbar */
  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    list-style: none;
  }

  .header li:nth-of-type(3) {
    display: none;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    color: #515151;
    font-size: 16px;
  }

  .header a {
    padding-bottom: 10px;
  }

  .header a:hover:not(:nth-child(1)) {
    background: url("/Icons habillage/Highlight.svg") bottom no-repeat;
  }

  .header a:hover:not(:nth-child(2)) {
    background: url("/Icons habillage/highlight-2.svg") bottom no-repeat;
  }
}

@media (min-width: 1441px) {
  .header {
    margin: 32px auto 100px auto;
  }
}
