.header {
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  margin: 32px clamp(64px, 8.6vw, 124px) 100px clamp(64px, 8.6vw, 124px);
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  list-style: none;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
  color: #515151;
  font-size: 16px;
}

.header a {
  padding-bottom: 10px;
}

.header a:hover:not(:nth-child(1)) {
  background: url("/Icons habillage/Highlight.svg") bottom no-repeat;
}

.header a:hover:not(:nth-child(2)) {
  background: url("/Icons habillage/highlight-2.svg") bottom no-repeat;
}

@media (min-width: 1441px) {
  .header {
    margin: 32 auto 100px auto;
  }
}
