@media only screen and (max-width: 650px) {
  .bannerPannel {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .banner {
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .pannel {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    row-gap: 24px;
  }

  .pannel img {
    height: 289px;
    width: 163px;
  }
}

@media only screen and (min-width: 650px) {
  .bannerPannel {
    margin: 40px auto 0 auto;
    position: relative;
    max-width: 1440px;
  }

  .banner {
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .pannel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 clamp(1px, 15.7vw, 226px) 0 clamp(1px, 15.7vw, 226px);
    padding-top: clamp(1px, 19.9vw, 286px);
  }

  .pannel img {
    width: clamp(1px, 28vw, 403px);
    height: clamp(1px, 49.6vw, 714px);
  }

  .pannel img:nth-of-type(2) {
    margin-top: clamp(1px, 12.2vw, 176px);
  }
}
