.firstMockup {
  max-width: 1192px;
  margin: 0 clamp(64px, 8.6vw, 124px) 72px clamp(64px, 8.6vw, 124px);
  position: relative;
}

.firstMockup img:nth-of-type(1) {
  width: clamp(1px, 100%, 1192px);
  height: clamp(1px, 42vw, 605px);
}

.firstMockup img:nth-of-type(2) {
  z-index: -1;
  position: absolute;
  right: clamp(-175px, -12.1vw, -1px);
  top: clamp(1px, 17.4vw, 250px);
  width: clamp(1px, 42.6vw, 614px);
  height: clamp(1px, 44.9vw, 646px);
}
