@media screen and (max-width: 650px) {
  .flag {
    margin-bottom: 40px;
  }

  .flag img {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .flag {
    max-width: 1440px;
    margin: 0 auto 120px auto;
  }

  .flag img {
    width: 100%;
  }
}
