.footer {
  position: relative;
  margin-top: 108px;
  padding-bottom: 30px;
  max-width: 1440px;
}

.footer img:nth-of-type(1) {
  position: absolute;
  height: clamp(1px, 69.1vw, 995px);
  width: clamp(1px, 44vw, 634px);
  top: clamp(-1103px, -76.6vw, -1px);
  z-index: -1;
}

.footer img:nth-of-type(2) {
  width: 100vw;
}

.timelineFolder {
  margin-left: clamp(1px, 15.5vw, 224px);
  position: relative;
}

.timelineFolder > p {
  margin-top: -40px;
}

.fade {
  width: 200px;
  height: 150px;
  position: absolute;
  background: linear-gradient(
    270deg,
    #d6d6d6 8.39%,
    rgba(214, 214, 214, 0) 100%
  );
  top: 50px;
  left: clamp(1px, 70.5vw, 1016px);
}

.project {
  margin-top: 32px;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.project div:not(.fade) {
  margin-right: 140px;
}

.detail {
  font-size: 20px;
  color: #717171;
  line-height: 25px;
}

.name {
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 6px;
  color: #3c3c3c;
}

@media (min-width: 1440px) {
  .footer {
    margin: 0 auto 108px auto;
  }
  .footer img:nth-of-type(2) {
    margin-left: calc((1440px - 100vw) / 2);
  }
}
