@media only screen and (max-width: 650px) {
  .sideBySide {
    margin-bottom: 30px;
  }

  .sideBySide img {
    width: 100%;
  }

  .sideBySide p {
    display: none;
  }
}

@media only screen and (min-width: 650px) {
  .sideBySide {
    display: flex;
    margin: 0 clamp(64px, 8.6vw, 124px) 70px clamp(64px, 8.6vw, 124px);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 1192px;
  }

  .sideBySide > * {
    width: clamp(1px, 41vw, 596px);
  }

  .sideBySide p {
    line-height: 28px;
    font-size: 20px;
    margin-left: clamp(32px, 8.3vw, 120px);
  }
}

@media (min-width: 1441px) {
  .sideBySide {
    margin: 0 auto 70px auto;
  }
}
