@media only screen and (max-width: 650px) {
  .banner {
    margin: 0 auto;
    max-width: 375px;
  }

  .bannerContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 28px 95px 28px;
  }

  .projectAction {
    position: absolute;
    top: 6px;
    left: 24px;
    width: 290px;
    height: 150px;
    transform: rotate(2deg);
    z-index: 9000;
  }

  .glassOne {
    position: absolute;
    width: 120px;
    z-index: -1;
    top: -76px;
    left: -52px;
  }

  .glassTwo {
    position: absolute;
    width: 60px;
    z-index: -1;
    top: 20px;
    left: -24px;
  }

  .blur {
    position: absolute;
    z-index: -2;
    top: -450px;
    left: -400px;
    overflow: hidden;
  }

  .blur img {
    width: 1135px;
  }

  .projectId {
    color: #767676;
    font-size: 10px;
  }

  .arrow {
    height: 198px;
    width: 17.5px;
    position: absolute;
    left: -12px;
    top: 16px;
    z-index: 1;
  }

  .bannerRow {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .bannerColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .projectDiv {
    margin-top: -6px;
    margin-left: 4px;
    width: 290px;
    height: 150px;
    transform: rotate(2deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectImg {
    width: 360px;
    height: auto;
    transform: rotate(-2deg);
    filter: grayscale(1);
  }

  .title {
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 8px 0;
  }

  .title + p {
    text-transform: uppercase;
    line-height: 14px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 650px) {
  .bannerContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1192px;
    margin: 0 clamp(64px, 8.6vw, 124px);
    padding-bottom: 200px;
  }

  .projectAction {
    position: absolute;
    top: 18px;
    left: clamp(1px, 7.6vw, 110px);
    width: clamp(1px, 65vw, 940px);
    height: clamp(1px, 33vw, 484px);
    transform: rotate(2deg);
    z-index: 9000;
  }

  .glassOne {
    position: absolute;
    width: clamp(1px, 30vw, 432px);
    z-index: 1;
    left: clamp(-66px, -4.6vw, -1px);
    top: clamp(1px, 3.4vw, 49px);
    user-select: none;
    pointer-events: none;
  }

  .glassTwo {
    position: absolute;
    width: clamp(1px, 12vw, 177px);
    z-index: 2;
    top: clamp(1px, 25.5vw, 367px);
    left: clamp(1px, 3.4vw, 49px);
    user-select: none;
    pointer-events: none;
  }

  .blur {
    position: absolute;
    left: clamp(-150px, -10.4vw, -1px);
    top: clamp(-150px, -10.4vw, -1px);
    z-index: -1;
  }

  .blur img {
    width: clamp(1px, 83.3vw, 1200px);
  }

  .projectId {
    color: #767676;
    font-size: 16px;
  }

  .arrow {
    height: clamp(1px, 33vw, 484px);
    width: 17.5px;
    position: absolute;
    left: -12px;
    top: 20px;
    z-index: 3;
  }

  .bannerRow {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .bannerColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: clamp(1px, 7.6vw, 110px);
  }

  .projectDiv {
    width: clamp(1px, 65vw, 940px);
    height: clamp(1px, 33vw, 484px);
    overflow: hidden;
    transform: rotate(2deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projectImg {
    width: clamp(1px, 82vw, 1180px);
    height: clamp(1px, 54.6vw, 787px);
    filter: grayscale(1);
    transform: rotate(-2deg);
    transition: 0.5s;
  }

  .title {
    font-size: 24px;
    line-height: 37px;
    margin: 16px 0;
  }

  .title + p {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
  }

  /* Banner hover */

  .projectImg:hover {
    animation: colorImage 0.5s;
    filter: grayscale(0);
    transform: scale(1.1);
  }

  @keyframes colorImage {
    0% {
      filter: grayscale(1);
      transform: scale(1) rotate(-2deg);
    }
    100% {
      filter: grayscale(0);
      transform: scale(1.1) rotate(0deg);
    }
  }
}

@media only screen and (min-width: 900px) {
  .title {
    font-size: 30px;
  }
}

@media (min-width: 1441px) {
  .bannerContainer {
    margin: 0 auto;
  }
}
