@media only screen and (max-width: 650px) {
  .project {
    margin: 0 auto;
    max-width: 375px;
  }

  .projectContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 29px;
    height: 440px;
  }

  .blur {
    position: absolute;
    z-index: -2;
    top: -91px;
    left: -300px;
    height: 800px;
    overflow: hidden;
  }

  .blur img {
    width: 1135px;
    transform: rotate(180deg);
  }

  .projectId {
    color: #767676;
    font-size: 10px;
    margin-bottom: 4px;
  }

  .projectTitle {
    margin-bottom: 8px;
    font-size: 16px;
    margin-left: 20px;
  }

  .projectTitle + p {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 14px;
    margin-left: 20px;
  }

  .left {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 132px;
    width: 100%;
  }

  .right {
    top: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 134px;
    width: 100%;
  }

  .mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 84px;
    top: 74px;
    left: 20px;
    z-index: -1;
  }

  .mobile img {
    width: 100%;
  }

  .shadowLeft,
  .shadowRight,
  .left img,
  .right img,
  .left svg,
  .right svg,
  .sixthProject {
    display: none;
  }

  .secondProject,
  .thirdProject,
  .fourthProject,
  .fifthProject,
  .sixthProject {
    position: relative;
    z-index: 1;
  }

  .secondProject > img:nth-of-type(2) {
    display: block;
    position: absolute;
    z-index: -1;
    width: 76px;
    height: 87px;
    left: 280px;
    top: 0;
  }

  .thirdProject > img:nth-of-type(2) {
    display: block;
    position: absolute;
    z-index: -1;
    width: 66px;
    height: 71px;
    top: -16px;
    left: -56px;
  }

  .fourthProject > img:nth-of-type(2) {
    display: block;
    position: absolute;
    z-index: -1;
    width: 75px;
    height: 108px;
    left: 280px;
  }

  .fifthProject > img:nth-of-type(2) {
    display: block;
    position: absolute;
    z-index: -1;
    width: 49px;
    height: 80px;
    top: -16px;
    left: -50px;
  }

  /* .sixthProject > img:nth-of-type(2) {
    display: block;
    position: absolute;
    z-index: -1;
    width: 72px;
    height: 113px;
    top: 54px;
    left: -50px;
  } */
}

@media only screen and (min-width: 650px) {
  .mobile {
    display: none;
  }

  .projectContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: clamp(90px, 12.5vw, 180px);
    justify-content: space-between;
    max-width: 1192px;
    margin: 0 clamp(64px, 8.6vw, 124px);
  }

  .blur {
    position: absolute;
    top: clamp(1px, 45vw, 650px);
    left: clamp(1px, 10vw, 150px);
    z-index: -2;
  }

  .blur img {
    transform: rotate(180deg);
    width: clamp(1px, 83.3vw, 1200px);
  }

  .projectId {
    color: #767676;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .projectTitle {
    margin: 16px 0;
    font-size: 24px;
  }

  .projectTitle + p {
    margin-bottom: 70px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
  }

  /* .sixthProject .projectTitle + p {
    margin-bottom: 40px;
  } */

  .left {
    position: relative;
  }

  .left .projectCard,
  .left .projectTitle + p,
  .left .projectTitle {
    margin-left: clamp(1px, 7vw, 100px);
  }

  .right {
    position: relative;
    margin-top: 450px;
  }

  .shadowLeft {
    position: absolute;
    z-index: -5;
    left: clamp(1px, 7vw, 100px);
    height: clamp(1px, 185vw, 2662px);
    top: clamp(-400px, -27.8vw, -1px);
  }

  .shadowRight {
    position: absolute;
    z-index: -5;
    height: clamp(1px, 119vw, 1714px);
    top: clamp(-500px, -34.7vw, -1px);
  }

  .left .projectCard {
    width: clamp(1px, 28vw, 403px);
    height: clamp(1px, 49.6vw, 714px);
    mask: url("/Image Home/SVG/left.svg") no-repeat;
    mask-size: clamp(1px, 28vw, 403px) clamp(1px, 49.7vw, 714px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right .projectCard {
    width: clamp(1px, 28vw, 404px);
    height: clamp(1px, 49.6vw, 714px);
    mask: url("/Image Home/SVG/right.svg") no-repeat;
    mask-size: clamp(1px, 28vw, 404px) clamp(1px, 49.7vw, 714px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .secondProject,
  .thirdProject,
  .fourthProject,
  .fifthProject,
  .sixthProject {
    position: relative;
    transition: 0.5s;
  }

  /* Second project */
  .secondProject .projectImg {
    width: clamp(1px, 131vw, 1886px);
    height: clamp(1px, 88.7vw, 1277px);
  }

  .secondProject > div > img:nth-of-type(1) {
    position: absolute;
    height: clamp(1px, 48.4vw, 697px);
    top: clamp(1px, 2.4vw, 35px);
    left: clamp(1px, 7vw, 100px);
    user-select: none;
    pointer-events: none;
  }

  .secondProject img:nth-of-type(2) {
    height: clamp(1px, 16vw, 230px);
    width: clamp(1px, 9.3vw, 134px);
    position: absolute;
    top: clamp(1px, 1.7vw, 25px);
    left: clamp(1px, 29.5vw, 425px);
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  /* Third project */

  .thirdProject .projectImg {
    width: clamp(1px, 81vw, 1180px);
    height: clamp(1px, 54.4vw, 784px);
  }

  .thirdProject > div > img:nth-of-type(1) {
    position: absolute;
    top: clamp(1px, 2.7vw, 40px);
    width: clamp(1px, 26vw, 373px);
    user-select: none;
    pointer-events: none;
  }

  .thirdProject img:nth-of-type(2) {
    height: clamp(1px, 18.2vw, 263px);
    width: clamp(1px, 17.4vw, 251px);
    position: absolute;
    top: clamp(1px, 7vw, 100px);
    right: clamp(1px, 0.7vw, 10px);
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  /* Fourth project */

  .fourthProject .projectImg {
    width: clamp(1px, 81vw, 1180px);
    height: clamp(1px, 54.6vw, 786px);
  }

  .fourthProject > div > img:nth-of-type(1) {
    position: absolute;
    top: clamp(1px, 4.1vw, 60px);
    left: clamp(1px, 32.6vw, 470px);
    height: clamp(1px, 49.3vw, 710px);
    user-select: none;
    pointer-events: none;
  }

  .fourthProject img:nth-of-type(2) {
    height: clamp(1px, 22vw, 316px);
    width: clamp(1px, 20.8vw, 300px);
    position: absolute;
    top: clamp(-85px, -5.9vw, -1px);
    left: clamp(1px, 16.6vw, 240px);
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  /* Fifth project */

  .fifthProject .projectImg {
    width: clamp(1px, 81vw, 1180px);
    height: clamp(1px, 54.4vw, 783px);
  }

  .fifthProject > div > img:nth-of-type(1) {
    position: absolute;
    top: clamp(1px, 49.3vw, 710px);
    left: clamp(1px, 0.5vw, 8px);
    width: clamp(1px, 27.6vw, 397px);
    user-select: none;
    pointer-events: none;
  }

  .fifthProject img:nth-of-type(2) {
    height: clamp(1px, 17.1vw, 246px);
    width: clamp(1px, 12.8vw, 185px);
    position: absolute;
    top: clamp(-100px, -6.9vw, -1px);
    right: clamp(1px, 3.5vw, 50px);
    z-index: -1;
    transform: rotate(-15deg);
    user-select: none;
    pointer-events: none;
  }

  /* Sixth project */

  /* 
  .sixthProject .projectImg {
    width: clamp(1px, 81vw, 1180px);
    height: clamp(1px, 54.6vw, 786px);
  }

  .sixthProject > div > img:nth-of-type(1) {
    position: absolute;
    top: clamp(1px, 2.8vw, 40px);
    left: clamp(1px, 4.2vw, 60px);
    height: clamp(1px, 49.4vw, 711px);
  }

  .sixthProject img:nth-of-type(2) {
    height: clamp(1px, 22vw, 316px);
    width: clamp(1px, 20.8vw, 300px);
    position: absolute;
    top: clamp(1px, 28.3vw, 408px);
    left: clamp(-75px, -5.2vw, -1px);
    z-index: -1;
  } */

  /* Project hover */
  .projectImg {
    filter: grayscale(1);
  }

  .secondProject img:nth-of-type(1):hover,
  .thirdProject img:nth-of-type(1):hover,
  .fourthProject img:nth-of-type(1):hover,
  .fifthProject img:nth-of-type(1):hover,
  .sixthProject img:nth-of-type(1):hover {
    animation: colorImage 0.5s;
    filter: grayscale(0);
    transform: scale(1.1) rotate(2deg);
  }

  @keyframes colorImage {
    0% {
      filter: grayscale(1);
      transform: scale(1) rotate(0deg);
    }
    100% {
      filter: grayscale(0);
      transform: scale(1.1) rotate(2deg);
    }
  }
}

@media only screen and (min-width: 900px) {
  .projectTitle {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1441px) {
  .projectContainer {
    margin: 0 auto 100px auto;
  }
}
