.loader {
  position: fixed;
  display: block;
  top: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background: url("/Image Home/background.png");
  background-color: #d6d6d6;
  background-blend-mode: multiply;
  animation: up 0.4s linear 1.6s;
}

@keyframes up {
  0% {
    transform: translateY(0);
    display: block;
  }
  100% {
    transform: translateY(-100%);
    display: none;
  }
}

.loaderContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loadingLine {
  position: absolute;
  z-index: -1;
  display: flex;
}

.loadingLine div {
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.loadingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.loadingText {
  margin-top: 88px;
}

.loadingText p:nth-of-type(2) {
  margin-top: 16px;
  font-size: 24px;
}
