@media only screen and (max-width: 650px) {
  .info {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    position: relative;
  }

  .info > img {
    position: absolute;
    height: 198px;
    width: 17.5px;
    left: -32px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .flex > img {
    position: absolute;
    z-index: -1;
    width: 364px;
    height: 381px;
    left: -20px;
    top: 200px;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  .title > p:nth-of-type(1) {
    font-size: 16px;
    white-space: nowrap;
  }

  .title > p:nth-of-type(2) {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .title div p {
    font-size: 16px;
    line-height: 26px;
    color: #585858;
  }

  .desc {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .desc p:nth-of-type(1) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .desc p:nth-of-type(2) {
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 650px) {
  .info {
    margin: 0 clamp(64px, 8.6vw, 124px);
    max-width: 1192px;
    display: flex;
    flex-direction: row;
  }

  .info > img {
    height: clamp(1px, 33vw, 484px);
    width: 20px;
    margin: 20px clamp(1px, 7vw, 100px) 0 0;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .flex > img {
    position: absolute;
    z-index: -1;
    width: clamp(1px, 66vw, 951px);
    height: clamp(1px, 63vw, 908px);
    margin-top: clamp(1px, 3.5vw, 50px);
    margin-left: clamp(1px, 23.6vw, 340px);
  }

  .title {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .title > p:nth-of-type(1) {
    font-size: 30px;
    white-space: nowrap;
  }

  .title > p:nth-of-type(2) {
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .title div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title div p {
    font-size: 32px;
    line-height: 46px;
    color: #585858;
  }

  .desc {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    max-width: 580px;
  }

  .desc p:nth-of-type(1) {
    font-size: 40px;
    margin-bottom: 56px;
    line-height: 48px;
  }

  .desc p:nth-of-type(2) {
    font-size: 24px;
    line-height: 36px;
  }

  .underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
  }
}

@media only screen and (min-width: 900px) {
  .desc p:nth-of-type(1) {
    font-size: 50px;
    line-height: 62px;
  }
}

@media only screen and (min-width: 1291px) {
  .flex {
    flex-direction: row;
  }
}

@media (min-width: 1441px) {
  .info {
    margin: 0 auto;
  }
}
